/* ---------- Comeau Reset ---------- */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin. */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations. */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height. */
  line-height: 1.5;
  /* 5. Improve text rendering. */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping. */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context (Always select top-level element the application is rendered within; for example, in create-react-app which uses <div id="root">, #ROOT would be the correct selector).
*/
#ROOT,
#__NEXT {
  isolation: isolate;
}

/* ---------- Global Styles ---------- */

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ---------- Layout ---------- */

.app-shell {
  display: grid;
  min-height: 100vh;
  /* Don't increase sidebar width on wider screens. */
  /* Do increase sidebar width if user adjusts system font-size. */
  grid-template-columns: 18rem 1fr;
  /* Same as above for header. */
  grid-template-rows: 8rem 1fr;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
}

.sidebar > h1 {
  padding-left: 1rem;
}

.sidebar h1,
.sidebar li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
}

.sidebar-nav,
.branding-logo {
  padding-block: 1rem;
}

.sidebar ul {
  display: grid;
  gap: 1rem;
}

.logo-icon {
  width: 3rem;
}

/* Sizing of other sidebar icons. */
.sidebar-nav .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header {
  grid-column: 2;
}

.main-content {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.main-content-primary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-title {
  padding-bottom: 0.5rem;
}

.main-content-primary > .cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.card {
  padding: 1.5rem 1.5rem;
  height: 28vh;
  position: relative;
}

.card .icon-btn {
  width: 2rem;
  height: 2rem;
}

.card-actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.main-content-secondary {
  /* padding-left: 1.5rem; */
  padding-right: 1.5rem;
}

/* ---------- Typography ---------- */

body {
  font-family: "Roboto", sans-serif;
}

nav > ul > li {
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
/* ---------- Styles ---------- */

.sidebar {
  color: #ffffff;
  background-color: #4391d0;
  border: 2px solid #0f496b;
}

.sidebar .icon {
  filter: invert(1);
}

.header {
  background-color: beige;
  border: 2px solid rgb(147, 147, 131);
}
.main-content {
  background-color: #e3e8ef;
}

.main-content-primary {
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #f2a93b 0%,
    #f2a93b 2%,
    #ffffff 2%,
    #ffffff 100%
  );
}

.card .icon-btn {
  border: none;
  background-color: #ffffff;
}

.main-content-secondary {
  background-color: rgb(242, 209, 165);
  border: 2px solid rgb(148, 128, 101);
}
